.full-screen {
  background-color: #ffffff;
  border: 1px none;
  height: 1045px;
  position: relative;
  width: 1280px;
}

.full-screen .frame {
  border-color: var(--neutralsgrey-100);
  border-right-style: solid;
  border-right-width: 1px;
  height: 989px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 72px;
}

.full-screen .frame-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-100);
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.full-screen .frame-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-100);
  height: 144px;
  left: 72px;
  position: absolute;
  top: 56px;
  width: 1208px;
}

.full-screen .frame-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--neutralsgrey-300);
  border-radius: 10px;
  height: 690px;
  left: 96px;
  overflow: hidden;
  position: absolute;
  top: 240px;
  width: 568px;
}

.full-screen .overlap-group-3 {
  height: 599px;
  left: 1px;
  position: absolute;
  top: 88px;
  width: 566px;
}

.full-screen .table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 23px;
  position: absolute;
  top: 0;
  width: 520px;
}

.full-screen .select-all-accounts {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-right: -20px;
  padding: 8px 8px 8px 4px;
  position: relative;
  width: 540px;
}

.full-screen .div-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.full-screen .drag-indicator {
  height: 24px;
  position: relative;
  width: 24px;
}

.full-screen .checkbox-2 {
  height: 18px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.full-screen .label-2 {
  color: var(--neutralsgrey-900);
  font-family: var(--desktop-tablet-MD-body-body-2-font-family);
  font-size: var(--desktop-tablet-MD-body-body-2-font-size);
  font-style: var(--desktop-tablet-MD-body-body-2-font-style);
  font-weight: var(--desktop-tablet-MD-body-body-2-font-weight);
  letter-spacing: var(--desktop-tablet-MD-body-body-2-letter-spacing);
  line-height: var(--desktop-tablet-MD-body-body-2-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-screen .row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.full-screen .checkbox-wrapper {
  align-items: center;
  background-color: var(--neutralsgrey-00);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: inline-flex;
  flex: 0 0 auto;
  height: 56px;
  padding: 6px 0px 6px 4px;
  position: relative;
}

.full-screen .design-component-instance-node {
  flex: 0 0 auto !important;
  gap: unset !important;
}

.full-screen .cells-2 {
  align-items: flex-start;
  background-color: var(--neutrals-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  height: 56px;
  justify-content: center;
  padding: 8px 24px 8px 8px;
  position: relative;
}

.full-screen .wrapper-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.full-screen .text-2 {
  color: var(--neutralsgrey-900);
  font-family: var(--desktop-tablet-MD-body-body-2-medium-font-family);
  font-size: var(--desktop-tablet-MD-body-body-2-medium-font-size);
  font-style: var(--desktop-tablet-MD-body-body-2-medium-font-style);
  font-weight: var(--desktop-tablet-MD-body-body-2-medium-font-weight);
  letter-spacing: var(--desktop-tablet-MD-body-body-2-medium-letter-spacing);
  line-height: var(--desktop-tablet-MD-body-body-2-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-screen .second-line {
  color: var(--neutralsdark-grey);
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-screen .p {
  color: var(--neutralsgrey-900);
  font-family: var(--desktop-tablet-MD-body-body-2-font-family);
  font-size: var(--desktop-tablet-MD-body-body-2-font-size);
  font-style: var(--desktop-tablet-MD-body-body-2-font-style);
  font-weight: var(--desktop-tablet-MD-body-body-2-font-weight);
  letter-spacing: var(--desktop-tablet-MD-body-body-2-letter-spacing);
  line-height: var(--desktop-tablet-MD-body-body-2-line-height);
  margin-top: -1px;
  position: relative;
  width: 118px;
}

.full-screen .cells-instance {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: var(--neutralsgrey-300) !important;
  justify-content: unset !important;
  width: 64px !important;
}

.full-screen .cells-3 {
  align-items: flex-start;
  background-color: var(--neutrals-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 56px;
  padding: 8px 24px 8px 8px;
  position: relative;
  width: 99px;
}

.full-screen .text-3 {
  color: var(--neutralsgrey-900);
  font-family: var(--desktop-tablet-MD-body-body-2-font-family);
  font-size: var(--desktop-tablet-MD-body-body-2-font-size);
  font-style: var(--desktop-tablet-MD-body-body-2-font-style);
  font-weight: var(--desktop-tablet-MD-body-body-2-font-weight);
  letter-spacing: var(--desktop-tablet-MD-body-body-2-letter-spacing);
  line-height: var(--desktop-tablet-MD-body-body-2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-screen .drag-indicator-wrapper {
  align-items: center;
  background-color: var(--neutralsgrey-00);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: flex;
  height: 56px;
  padding: 6px 0px;
  position: relative;
  width: 24px;
}

.full-screen .checkbox-instance-wrapper {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: inline-flex;
  flex: 0 0 auto;
  height: 56px;
  padding: 6px 0px 6px 4px;
  position: relative;
}

.full-screen .cells-4 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  height: 56px;
  justify-content: center;
  padding: 8px 24px 8px 8px;
  position: relative;
}

.full-screen .cells-5 {
  background-color: unset !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: var(--neutralsgrey-300) !important;
  justify-content: unset !important;
  width: 64px !important;
}

.full-screen .cells-6 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 56px;
  padding: 8px 24px 8px 8px;
  position: relative;
  width: 99px;
}

.full-screen .drag-indicator-1-wrapper {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutralsgrey-300);
  display: flex;
  height: 56px;
  padding: 6px 0px;
  position: relative;
  width: 24px;
}

.full-screen .bottom-bar {
  align-items: center;
  background-color: #ffffff;
  border-color: var(--neutralsgrey-300);
  border-radius: 0px 0px 4px 4px;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 16px 24px;
  position: absolute;
  top: 537px;
  width: 566px;
}

.full-screen .text-wrapper-2 {
  color: #000000;
  font-family: var(--mobile-XS-heading-heading-6-font-family);
  font-size: var(--mobile-XS-heading-heading-6-font-size);
  font-style: var(--mobile-XS-heading-heading-6-font-style);
  font-weight: var(--mobile-XS-heading-heading-6-font-weight);
  letter-spacing: var(--mobile-XS-heading-heading-6-letter-spacing);
  line-height: var(--mobile-XS-heading-heading-6-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-screen .button-3 {
  flex: 0 0 auto !important;
}

.full-screen .state-default-device {
  align-items: center;
  background-color: var(--neutralsgrey-100);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  left: 24px;
  overflow: hidden;
  padding: 4px 8px 4px 4px;
  position: absolute;
  top: 24px;
  width: 520px;
}

.full-screen .search-box {
  background-color: var(--neutralsgrey-00);
  border-radius: 2px;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 333px;
}

.full-screen .text-wrapper-3 {
  color: var(--neutralsgrey-500);
  font-family: var(--desktop-tablet-MD-body-body-2-font-family);
  font-size: var(--desktop-tablet-MD-body-body-2-font-size);
  font-style: var(--desktop-tablet-MD-body-body-2-font-style);
  font-weight: var(--desktop-tablet-MD-body-body-2-font-weight);
  left: 36px;
  letter-spacing: var(--desktop-tablet-MD-body-body-2-letter-spacing);
  line-height: var(--desktop-tablet-MD-body-body-2-line-height);
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.full-screen .search-instance {
  left: 8px !important;
  position: absolute !important;
  top: 4px !important;
}

.full-screen .search-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/5d1eaf3c114c3f72c8b067092630dd48/img/path-2@2x.png) !important;
  left: -1181px !important;
  top: -4300px !important;
}

.full-screen .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.full-screen .left {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--neutralsgrey-300);
  border-radius: 10px;
  height: 690px;
  left: 688px;
  overflow: hidden;
  position: absolute;
  top: 240px;
  width: 568px;
}

.full-screen .bottom-bar-2 {
  align-items: center;
  background-color: #ffffff;
  border-color: var(--neutralsgrey-300);
  border-radius: 0px 0px 4px 4px;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  justify-content: space-between;
  left: 1px;
  padding: 16px 24px;
  position: absolute;
  top: 628px;
  width: 572px;
}

.full-screen .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.full-screen .button-4 {
  display: flex !important;
  width: 80px !important;
}

.full-screen .search-box-2 {
  background-color: var(--neutralsgrey-00);
  border: 1px solid;
  border-color: var(--neutralsgrey-500);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 216px;
  width: 526px;
}

.full-screen .text-wrapper-4 {
  color: var(--neutralsgrey-500);
  font-family: var(--desktop-tablet-MD-body-body-1-font-family);
  font-size: var(--desktop-tablet-MD-body-body-1-font-size);
  font-style: var(--desktop-tablet-MD-body-body-1-font-style);
  font-weight: var(--desktop-tablet-MD-body-body-1-font-weight);
  left: 36px;
  letter-spacing: var(--desktop-tablet-MD-body-body-1-letter-spacing);
  line-height: var(--desktop-tablet-MD-body-body-1-line-height);
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.full-screen .search-3 {
  left: 8px !important;
  position: absolute !important;
  top: 12px !important;
}

.full-screen .search-4 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/5d1eaf3c114c3f72c8b067092630dd48/img/path-2@2x.png) !important;
  left: -1769px !important;
  top: -4496px !important;
}

.full-screen .input-field-2 {
  display: flex !important;
  left: 24px !important;
  position: absolute !important;
  top: 24px !important;
  width: 526px !important;
}

.full-screen .input-field-3 {
  display: flex !important;
  left: 24px !important;
  position: absolute !important;
  top: 120px !important;
  width: 526px !important;
}

.full-screen .empty-state {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  left: 134px;
  position: absolute;
  top: 345px;
}

.full-screen .wrapper-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.full-screen .list {
  height: 72px;
  position: relative;
  width: 72px;
}

.full-screen .list-px {
  height: 72px;
  position: relative;
}

.full-screen .shape-2 {
  height: 30px;
  left: 9px;
  position: absolute;
  top: 21px;
  width: 54px;
}

.full-screen .path {
  height: 72px;
  left: -1985px;
  position: absolute;
  top: -4613px;
  width: 72px;
}

.full-screen .text-wrapper-5 {
  align-self: stretch;
  color: var(--neutralsgrey-600);
  font-family: var(--desktop-tablet-MD-heading-heading-6-font-family);
  font-size: var(--desktop-tablet-MD-heading-heading-6-font-size);
  font-style: var(--desktop-tablet-MD-heading-heading-6-font-style);
  font-weight: var(--desktop-tablet-MD-heading-heading-6-font-weight);
  letter-spacing: var(--desktop-tablet-MD-heading-heading-6-letter-spacing);
  line-height: var(--desktop-tablet-MD-heading-heading-6-line-height);
  position: relative;
  text-align: center;
}

.full-screen .text-wrapper-6 {
  align-self: stretch;
  color: var(--neutralsgrey-600);
  font-family: var(--desktop-tablet-MD-body-body-1-font-family);
  font-size: var(--desktop-tablet-MD-body-body-1-font-size);
  font-style: var(--desktop-tablet-MD-body-body-1-font-style);
  font-weight: var(--desktop-tablet-MD-body-body-1-font-weight);
  letter-spacing: var(--desktop-tablet-MD-body-body-1-letter-spacing);
  line-height: var(--desktop-tablet-MD-body-body-1-line-height);
  position: relative;
  text-align: center;
}

.full-screen .min-width {
  background-image: url(https://generation-sessions.s3.amazonaws.com/5d1eaf3c114c3f72c8b067092630dd48/img/path-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: -1871px;
  margin-top: -4613px;
  position: relative;
  width: 300px;
}
